/* Style for the table */
table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 20%;
}

h1{
  margin-left: 40%;
}



/* Style for table headers */
th {
  background-color: #f2f2f2;
  padding: 8px;
  border: 1px solid #ddd;
}

/* Style for table data cells */
td {
  padding: 15px;
  border: 1px solid #ddd;
}

/* Alternate row color for better readability */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect on rows */
tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
